.checkout-price {
    font-size: 20px;
    font-weight: 500;
}

.cover-bg {
    max-width: 137px;
}

.checkout-master {
    position: relative;
}

.payment-gateway {
    display: block;
}

.detail-payment {
    display: block;
}

.payment-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonBank {
    width: 125px;
}

.subtotal-checkout {
    position: absolute;
    right: 0;
    bottom: 0;
}

.checkout-summary {
    height: 100%;
}

.header-summary {
    font-size: 18px;
}

.line-span {
    display: block;
    width: 82px;
    height: 2px;
    background-color: rgb(85, 83, 83);
    border-radius: 5px;
    margin-top: 5px;
}

.checkout-subtotal {
    margin: 8px 0;
}

.ship-master {
    position: relative;
}

.shipping-select {
    position: absolute;
    background: var(--white);
    z-index: 1;
    top: 82px;
    width: 100%;
    padding: 0;
    display: none;
}

.shipping-option {
    cursor: pointer;
}

.courier:hover {
    background: var(--porcelain);
}

.courier {
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 20px;
}

.arrow-down {
    display: flex;
    align-items: center;
    position: relative;
}

.arrow {
    display: block;
    width: 15px;
    height: 4px;
    background: var(--black);
    border-radius: 15px;
    transition: 0.3s;
}

.arrow-left {
    transform: rotate(40deg);
    position: absolute;
    right: 10px;
}

.checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-right {
    transform: rotate(-40deg);
}

span.estimate {
    color: var(--black);
}

.product-title {
    margin: 0;
}

.bank-available {
    display: flex;
    justify-content: space-between;
}

.bank {
    border: 1px solid var(--white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.bankSelected {
    border: 1px solid var(--black);
}

.accountHeader {
    font-weight: 800;
    font-size: 20px;
    margin-top: 5px;
}

.accountNumber {
    font-size: 18px;
}

.cart-count {
    box-sizing: unset;
}

@media only screen and (min-width: 768px) {
    .checkout-wrap {
        flex: 1 120%;
    }
}

@media only screen and (min-width: 1020px) {
    .checkout-wrap {
        flex: 1 160%;
    }
}
