@import url("./index.css");
@import url("./cart.css");
@import url("./product-detail.css");
@import url("./products.css");

.login-form {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: var(--seashell);
    padding: 40px;
    border-radius: 20px;
}

.username.username,
.password.password,
.name.name {
    background: var(--white);
    margin-top: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px 0 10px 10px;
}

.login-btn {
    background: var(--black);
    color: var(--white);
    margin: 30px 0 0;
    transition: 0.4s all;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
    background: none;
    color: var(--black);
}

.login-logo {
    color: var(--black);
    font-family: var(--montserrat);
    font-weight: 900;
    font-size: 32px;
    cursor: pointer;
}

.sign-up {
    font-weight: 700;
    cursor: pointer;
}

.sign-up:hover {
    text-decoration-line: underline;
}
