.orders-user {
    height: 100%;
    margin: 0;
}

.order-summary {
    padding: 0 20px;
}

.detail-order {
    border: none;
    border-radius: 0;
}

.order-wrap {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
}

.order-info {
    display: flex;
    justify-content: space-between;
}

.product-list {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    position: relative;
}

.price-product {
    position: absolute;
    bottom: 0;
    right: 50px;
    font-weight: 800;
}

.prod-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe-btn {
    border-radius: 80px !important;
}

@media only screen and (min-width: 1020px) {
    .checkout-wrap {
        flex: 1 85%;
    }
}

@media only screen and (min-width: 768px) {
    .checkout-wrap {
        flex: 1 70%;
    }
}

@media only screen and (max-width: 768px) {
    .checkout-wrap {
        margin-bottom: 20px;
    }
}
