form,
.tampil {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.tampil.tampil {
    width: 100%;
}
